<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>cafe一覧</h2>

			<% @shops.each do |shop| %>
			<div class="col-xs-4">
				<%= link_to shop_path(shop) do %>
				<p class="card-img-top"><%= attachment_image_tag(shop, :shop_image, :fill, 250, 250, fallback: "no_image.jpg") %></p>
				<% end %>
				<div><P>ショップ名：<%= shop.shop_name %></P></div>
				<div><P>ユーザー名：<%= shop.user.name %></P></div>
				<div><%= shop.shop_comments.count %>件コメント</div>
				<% if shop.favorited_by?(current_user) %>

				<%= link_to shop_favorites_path(shop), method: :delete do %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= shop.favorites.count %> いいね
				<% end %>

				<% else %>

				<%= link_to shop_favorites_path(shop), method: :post do %>
				<i class="fa fa-heart-o" aria-hidden="true"></i>
				<%= shop.favorites.count %> いいね
				<% end %>

				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>
