<div class="container">
	<div class="row">
<h1>新規投稿</h1>

<%= form_for(@shop) do |f| %>

	<div class="field row">
		<%= f.label :shop_name %><br>
		<%= f.text_field :shop_name, class: "col-xs-8 ショップ名" %><br>
	</div>

	<div class="field row">
		<%= f.label :body %><br>
		<%= f.text_area :body, class: "col-xs-8 ショップ概要" %>
	</div>
	<div class="field row">
		<%= f.label :image %>
		<%= f.attachment_field :shop_image, class: "shop_image" %><br>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-8" %>
	</div>
<% end %>
</div>
</div>