<h2 class="midashi">User profile</h2>

<div class="profile-card">
  <div class="profile-card__inner">
    <div class="profile-thumb">
      <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
    </div>
    <div class="profile-content">
      <span class="profile-name"><%= @user.name %></span>
      <span class="profile-intro"><%= @user.introduction %></span>
      <span class="following"><a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.followings.count %>
        </strong>
        following
      </a></span>
      <span class="followers"><a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a></span>
      <span><% if @user.id == current_user.id %>
        <div><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></div><br>
        <% end %>
      </span>
      <span><% if @user.id == current_user.id %><%= link_to "新規投稿", new_shop_path, class: "btn-sm btn-success pull-right" %><% end %></span>
    </div>
  </div>
